// .newswrapper {
//   display: -webkit-box;
//   overflow: hidden;
//   -webkit-line-clamp: 2;
//   text-overflow: ellipsis;
//   -webkit-box-orient: vertical;
//   margin: 0;
//   margin-bottom: 10px;
// }
.paratext {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin: 0;
  cursor: pointer;
}
.nwviewcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nvdatewrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
.newsSection {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  .newsImage {
    width: 100px;
    height: 84px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .newsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 100px);
  }
  .newsTag {
    color: #089982;
    margin: 3px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    img {
      width: 14px;
      height: 14px;
      padding-right: 6px;
    }
    p {
      margin: 0;
    }
  }
  .newsFooter {
    display: block;
    .footwrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .paraDate {
        margin: 0;
        color: #d72f54;
        font-size: 15px;
      }
    }
  }
  .newsCreator {
    display: flex;
    gap: 10x;
    img {
      width: 20px;
      height: 20px;
      border-radius: 6px;
    }
    p {
      margin: 0 0 0 3px;
    }
  }
}
