.avcontainer {
  background-color: #ffff;
  padding: 10px;
  .avHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 0px 24px;
  }
  .avboxContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .avboxwrapper {
      width: 16.666%;
      padding: 10px;
      .avboxContent {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 150px;
        .imgwrapper {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .title {
          margin: 0;
          font-size: 16px;
          margin-top: 6px;
          font-weight: 500;
          text-align: center;
          display: -webkit-box;

          -webkit-box-orient: vertical;

          -webkit-line-clamp: 1;

          overflow: hidden;

          text-overflow: ellipsis;
        }
        .jobtitle {
          color: #a98044;
          margin: 0;
          text-align: center;
          display: -webkit-box;

          -webkit-box-orient: vertical;

          -webkit-line-clamp: 1;

          overflow: hidden;

          text-overflow: ellipsis;
        }
      }
    }
  }
}
