#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;

  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}
.headcarosuel .carousel-indicators [data-coreui-target] {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: #d9d9d9 !important;
}
.headcarosuel .carousel-control-next-icon,
.headcarosuel .carousel-control-prev-icon {
  display: none !important;
}
.headcarosuel .carousel-indicators .active {
  background-color: #a98644 !important;
}
/* [data-automation-id="CanvasZone"] {
  margin: 0px !important;
}
[data-automation-id="CanvasZone"] div:nth-child(1) {
  padding: 0px !important;
} */

/* //new carousel */
/* Swiperfn.css */
/* .swiperfn-container {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.carousel-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 500px;
} */

/* Add more custom styles as needed */
