* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;

  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}

.imgCarosuel .carousel-control-next-icon,
.imgCarosuel .carousel-control-prev-icon {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 1rem;
  width: 2%;
}
.imgCarosuel .carousel-indicators [data-coreui-target] {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: #d9d9d9 !important;
  /* position: absolute;
  bottom: -80px; */
}
.imgCarosuel .carousel-indicators .active {
  background-color: #a98644 !important;
}
.imgCarosuel .carousel-control-next,
.imgCarosuel .carousel-control-prev {
  width: 4% !important;
}
.imgCarosuel .slide {
  /* margin: 50px 0px !important */
  height: 400px;
}
.imgCarosuel .carousel-inner {
  width: 90%;
  margin: auto;
}
.imgCarosuel .carousel-control-prev-icon {
  background: url("./ImgCaroLeft.png") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.imgCarosuel .carousel-control-next-icon {
  background: url("./ImgCaroRight.png") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
